<!DOCTYPE html>
<html>
<head>
  <title>Test Page</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🚜</text></svg>">
  <script src="../../demo/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../../demo/bower_components/polymer/polymer.html">
  <link rel="import" href="../../my-element.html">
</head>
<body>
  <my-element title="<my-element/>" subtitle="minimal Polymer 1.x demo"></my-element>
</body>
</html>